@import '../../App.scss';

.card {
    max-width: 450px;


    &.fullWidth {
        max-width: 100%;

        & .card__content {
            background: $white;
            padding: 14px 0;
            border-top: 1px solid $default_gray;
            border-bottom: 1px solid $default_gray;
        }
    }
}

.card__content {
    & .content__string {
        display: flex;
        align-items: flex-start;
    }
}
.card__buttons {
    margin-top: 22px;

    &, & div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    & div {
        & button {
            margin-right: 10px;
        }
    }
}

