.card {
    max-width: 450px;
}

.card__content {
    & .content__string {
        display: flex;
        align-items: flex-start;
    }
}
.card__buttons {
    margin-top: 22px;

    &, & div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    & div {
        & button {
            margin-right: 10px;
        }
    }
}