

$default_blue: #3949E7;
$dark_blue: #2E2FB2;
$light_gray: #B9BDF6;
$coral_blue: #4EBBDB;

$default_red: #FF3448;
$light_red: #F21F5B;
$dark_red: #B20543;
$pink: #F5A9C6;

$default_green: #38C463;
$light_green: #6FCF97;

$default_yellow: #FFD22F;

// $border_grah: ;
$light_gray: #EAEFFC;
$default_gray: #CCCCCC;
$dark_gray: #6A6A6A;


$white: #fff;
$black: #000;


$font_black: #222222;
$font_gray: #C8C8C8;

$muller: 'Muller';
$open_sans: 'Open Sans';